*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

.mobile{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 0.5px solid black;
}

.desktop{
    display: none;
}

nav .imgNav{
    width: 20px;
}

.rectangle{
    width: 300px;
    margin: auto;
}

.proyectos{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.proyectos .card{
    margin: 25px;
}

footer{
    background-color: black;
    height: 80px;
    color: white;
}

@media (min-width: 768px){
    .mobile{
        display: none;
    }

    .desktop{
        display: flex;
        justify-content: space-between;
        padding: 10px 30px;
        border-bottom: 0.5px solid black;
    }

    .desktop ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
    }

    .desktop li{
        margin-right: 15px;
    }
}